
@font-face
{
	fontFamily: "Copperplate Gothic Light";
	src: url("/Library/Fonts/Microsoft/Copperplate Gothic Light");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro Bold";
	src: url("/Library/Fonts/MyriadPro-Bold.otf");
	embedAsCFF: true;
}







