#currentTime{
    cursor: default;
    font-size: 3em;
    text-align: center;
} 

#main {
    min-width: 700px;
    padding: 40px;
} 

.hidden{
	opacity: 0;
}

#pageContainer{
    -webkit-transform: rotateY(0);
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: darkgray;
}

#linkToWiki {
	display:none;
    color: lightgray;
    cursor: pointer;
    left: 230px;
    text-decoration: none;
    margin-left: 100px;
	float: left;
}

#fixedBar{
    z-index: 101;
    left: 0px;
    top: 0px;
    width: 100px;
    
    height: 100%;
    position: fixed;
    background-color: rgb(48, 47, 47);
}

.fixedBarBtn:hover{
	background-color: lightgrey;
}

.fixedBarBtn{
    cursor: pointer;
    background-color: grey;
    color: white;
    height: 76px;
    width: 100px;
    border-radius: 10px;
    font-size: 49px;
    font-weight: bold;
    text-align: center;
    padding-top: 23px;
}

body[music='true'][state='main'] #playPauseBtn,
body[narration_audio='true'][state='main'] #playPauseBtn{
    display:block;
}

#playPauseBtn{
    padding-top: 23px;
    display:none;
}

#narrationLog .decisionBtn{
}

.decisionBtn{
	text-align: center;
	table-layout:fixed;
	white-space:pre-line;
	cursor: pointer;
    margin-right: auto;
    display: table;
    width:500px;
    clear: both;
    margin-left: auto;
    
	font-size: 30px;
    
	padding: 30px;
    border-radius: 10px;
    background-color: rgb(46, 45, 45);
    color: whitesmoke;
	margin-bottom: 10px;
}

/*.decisionBtn:hover{
    color: lightgray;
	
}*/

#linkToWiki:hover{
	color: lightgrey;
}

#clearLocalStorage:hover{
	color: lightgrey;
	cursor: pointer;
}

#clearLocalStorage{
	color: lightgray;
	float: left;
	margin-left: 62px;
}

button{
    font-size: 1em;
    margin-top: 30px;
}

#pageContent{
    color: black;
    font-size: 1.4em;
}

body{
    overflow-x: hidden;
    background-color: black;
    color: grey;
}

#title{
    position: absolute;
    width: 100%;
	
    font-size: 1.1em;
    margin-bottom: 30px;
    text-align: center;
}

#devbar{
    position: relative;
    margin-top: 25px;
    
    margin-bottom: 50px;
}
  
#manageBookmarks{
    cursor: pointer;
    
}

#bookmarkPanel{
    font-size: 30px;
    padding-top: 75px;
    min-height: 800px;
    min-width: 700px;
    padding-left: 93px;
}

body:not([state='dev_mode']) #devPanel,
body:not([state='main']) #devBtn,
body:not([state='settings']) #settingsPanel,
body:not([state='set_bookmark']) #setBookmarkPanel{
    display:none;
}

body:not([debug='true']) #devBtn{
	display:none;
}

#setBookmarkPanel{
    font-size: 30px;
    padding-top: 75px;
    min-height: 800px;
    min-width: 700px;
    padding-left: 93px;
}

#settingsBtn{
	display:none;	
}

body[state='main'] #settingsBtn{
	display:block
}

body:not([state='bookmarks']) #bookmarkPanel{
    display:none;
}

body:not([state="main"]) #main {
	display: none;
}


body[state='bookmarks'] #mainModeBtn,
body[state='dev_mode'] #mainModeBtn,
body[state='settings'] #mainModeBtn,
body[state='set_bookmark'] #mainModeBtn{
    display:block;
}

body:not([state='main']) #bookmarksModeBtn{
    display:none;
}

#mainModeBtn:hover{
    background-color: lightgrey;
}

#mainModeBtn{
    background-color: grey;
    display:none;
}


.bookmarkLabel{
    background-color: darkgray;
    
    width: 200px;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    color: white;
}

.bookmarkItem{
    cursor: pointer;
    padding: 7px 0px 0px 58px;
    
}

.bookmarkLabel:hover{
    background-color:lightgrey;
}

body:not([state='main']) #setBookmarkBtn{
    display:none;
}

#statusTxt{
    display: none;
    cursor: default;
    width: 100%;
    position: absolute;
    
    text-align: right;
}

#titleBar{
    padding-bottom: 26px;
    position: relative;
    
}

#bookmarksModeBtn,
#settingsBtn,
#mainModeBtn{
	font-size: 18px;
	padding-top: 42px;
	height: 61px;
}

#setBookmarkBtn {
	font-size: 20px;
}

#devPanel{
    font-size: 30px;
    min-height: 800px;
    min-width: 700px;
    padding-left: 93px;
}

#settingsPanel{
    font-size: 30px;
    min-height: 800px;
    min-width: 700px;
    padding-left: 93px;
}

#decisionzLog > p {
	margin-top: 2px;
	margin-bottom: 2px;
}

#sendErrorBtn:hover{
  background-color: lightgrey;
}

#sendErrorBtn{
	cursor: pointer;
    background-color: grey;
	
    color: white;
    padding: 7px;
    border-radius: 7px;
    width: 256px;
    text-align: center;
    margin-left: 20;
}

#loadErrorBtn:hover{
  background-color: lightgrey;
}

#loadErrorBtn{
	cursor: pointer;
    background-color: grey;
	float: left;
    color: white;
    padding: 7px;
    border-radius: 7px;
    width: 96px;
    text-align: center;
    margin-left: 20;
}

#errorTextArea{
	float:left;
}

#localStorageLength{
	clear:both;
}

#setBookmarkSubmit:hover{
	background-color: orange;
	
}

#setBookmarkSubmit{
    background-color: grey;
	cursor:pointer;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 7px;
    margin-left: 330px;
    margin-top: 20px;
}

#bookmarkName{
    font-size: 38px;
	
}

#setBookmarkTitle{
    padding: 10px;
	
    text-align: right;
}

#setBookmark_container{
    background-color: #111111;
	
    width: 440px;
    padding: 20px;
    margin-left: 177px;
}

#snippets, #xml{
	display: none;
}

#loadEditor{
	
}

#linkToJSEditor{
	display: none;
    color: lightgray;
    cursor: pointer;
    text-decoration: none;
	float:left;
    margin-left: 100px;
}

body[debug='true'] #linkToWiki,
body[debug='true'] #linkToJSEditor{
	display: block;
}

#xml{
	display:none;
}

#devTabs, #setTabs{
	font-size: .5em;
}

.ui-tabs > div.ui-tabs-panel{
	background-color: black;
	color: white;
}

#narrationLog{
    font-size: .7em;
	
    width: 700px;
}

body[disableDialog="true"] #pageContent > p{
	display:none;
}

.youChose{
	
}